body{
    background-color: rgb(245, 245, 245);
    background-image:url("africa.png")
}
.pstyle{
    font-family: sans-serif;
    font-weight: bolder;
    text-align: left;
}
.h1style{
    font-family: sans-serif;
    font-weight: bolder;
    text-align: left;
    color:goldenrod
}