body
{
    background-color: rgb(220, 220, 231);
}
h1{
   font-family: inherit;}

ul{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: larger;
    background:#ff9999;
    padding: 20px;
    border-style: solid;
    border-color: rgb(123, 179, 243);
    background-image: url("2.jpg");
    
    
    

}